.first-container {
  height: 100vh; /* Ocupar toda la altura de la ventana */
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Colocar elementos en columna */
  align-items: center; /* Centrar todo en el eje horizontal */
  justify-content: flex-start; /* Asegura que los elementos estén en la parte superior */
  padding: 20px; /* Espaciado interno */
  overflow-y: auto;
}

/* Tema oscuro para el contenedor principal */
.dark-theme .first-container {
  border: 4px solid #242425; /* Borde más grueso en tema oscuro */
  border-radius: 15px; /* Bordes redondeados */
  background: linear-gradient(135deg, #252529, #3f3f44); /* Fondo degradado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
  padding: 20px; /* Espaciado interno consistente */
}


/* Ajustes generales para el contenido interno */
.dark-theme .first-container > * {
  margin: 1rem 0; /* Espaciado entre elementos */
  text-align: center; /* Centrar texto dentro del contenedor */
}

.warning-message {
  background-color: #ffefc2; /* Fondo amarillo claro */
  color: #856404; /* Texto marrón oscuro */
  border: 1px solid #ffd56b; /* Borde amarillo más oscuro */
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin: 15px 0;
  display: inline-block; /* Para que no ocupe todo el ancho */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  text-align: center; /* Centrar el texto */
  justify-content: center;
  animation: fadeIn 0.5s ease-in-out; /* Efecto de entrada suave */
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #cdc1ff; /* Verde más oscuro */
}

#favorites-button {
  padding: 10px;
  background-color: #cdc1ff; /* Naranja */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#favorites-button:hover {
  background-color: #cdc1ff; /* Naranja más oscuro */
}

.busquedacat {
  white-space: 100px;
  margin-left: 655px;
  text-align: center;
}

.categoria-dropdown {
  padding: 9px;
  border-radius: 4px;
  border: 1px #ccc;
  width: 2px;
  background-color: #cdc1ff;
  text-align: center;
  white-space: 100px;
  margin-right: 480px;
  margin-top: -80px;
}

.scrooll {
  max-height: 400px; /* Altura máxima para la tabla */
  min-height: 300px; /* Altura mínima para el contenedor */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.table th {
  background-color: #a294f9; /* Fondo del encabezado */
  color: white; /* Color del texto */
  text-align: center;

  top: 0; /* Mantén el encabezado en la parte superior */
  z-index: 2; /* Encabezado sobre el contenido */
}

.table tbody {
  max-height: 400px; /* Altura máxima del contenido de la tabla */
  overflow-y: auto; /* Desplazamiento vertical */
  display: block; /* Asegura que solo el cuerpo haga scroll */
}

.table thead,
.table tbody tr {
  display: table; /* Necesario para mantener el ancho de las columnas */
  width: 100%; /* Ancho fijo para evitar desbordes */
  table-layout: fixed; /* Controla el tamaño de las columnas */
}
