h1 {
  color: #000;
}
.detail-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.detail-table th,
.detail-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  color: #000; /* Establece el color del texto a negro */
}

.detail-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.detail-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.add-favorite {
  background-color: transparent; /* Fondo transparente */
  border: NONE; /* Sin borde */
  padding: 0; /* Sin padding */
  cursor: pointer;
  font-size: 24px; /* Tamaño de fuente más grande para el corazón */
  color: rgb(72, 72, 72); /* Color del corazón */
  border-color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 67PX;
  right: 255PX;
}
.add-favorite:hover {
  color: rgb(255, 247, 0); /* Color del corazón */
  background-color: white
  ; /* Cambia el fondo ligeramente en hover */
  padding: 0; /* Sin padding */
}
