/* Estilo para el h1 */
h1 {
  color: #000;
  margin: 0; /* Elimina los márgenes predeterminados */
  font-size: 24px; /* Tamaño de fuente del h1 */
  font-weight: bold; /* Hace que el texto sea negrita */
  position: relative; /* Para que el botón de la estrella se posicione relativo al h1 */
  top: 13px; /* Ajusta la posición vertical si es necesario */
  left: 32px;
}

/* Estilos para la tabla de detalles */
.detail-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse; /* Elimina los espacios entre las celdas */
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.detail-table th,
.detail-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #0d0d0d;
  color: #000; /* Establece el color del texto a negro */
}

.detail-table th {
  background-color: #cdc1ff;
  font-weight: bold;
}

.detail-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo para el botón de la estrella (favorito) */
.add-favorite {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Elimina cualquier borde */
  outline: none; /* Elimina el contorno al hacer clic */
  padding: 0; /* Sin relleno */
  box-shadow: none; /* Elimina cualquier sombra que pueda parecer borde */
  cursor: pointer; /* Hace que el cursor sea una mano al pasar sobre el botón */
  font-size: 35px; /* Tamaño del icono */
  color: rgb(72, 72, 72); /* Color del icono */
  position: absolute; /* Lo coloca de manera absoluta dentro del contenedor */
  top: 0; /* Alinea el botón con la parte superior del h1 */
  right: auto; /* Lo alinea a la derecha del contenedor */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.add-favorite:hover {
  color: rgb(255, 247, 0); /* Color del icono al pasar el mouse (amarillo) */
}

.add-favorite.favorito {
  color: gold; /* Color dorado cuando el icono es favorito */
}
