.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 800px; 
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h2 {
  color: black;
  text-align: center;
}

.favorites-list {
  margin-top: 20px;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.favorite-item p {
  margin: 0;
  flex: 1; 
  padding: 0 10px; 
}

.descripcion {
  color: #007BFF;
  text-decoration: none;
}

.descripcion:hover {
  text-decoration: underline;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; 
  align-self: flex-end; 
}

.no-favorites {
  text-align: center;
  color: #666;
}

.red-icon {
  color: red; 
}

.favorites-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.favorites-table th {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center; 
}

.favorites-table td {
  background-color: white; 
  color: black; 
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

.favorites-table .code-cell {
  width: 20px;
}

.favorites-table .description-cell {
  width: 300px;
}

.favorites-table .action-cell {
  width: 10px; 
  text-align: center; 
}

.favorites-table tr:hover {
  background-color: #f1f1f1;
}
