.first-container {
  padding: 20px;
}

.dark-theme {
  background-color: #212121; /* Color oscuro personalizado */
  color: #ffffff; /* Texto blanco */
}

.light-theme {
  background-color: #f9f9f9; /* Color claro personalizado */
  color: #000000; /* Texto negro */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #cdc1ff; /* Verde más oscuro */
}

#favorites-button {
  padding: 10px;
  background-color: #cdc1ff; /* Naranja */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

#favorites-button:hover {
  background-color: #cdc1ff; /* Naranja más oscuro */
}

.busquedacat {
  margin: 20px 0;
  text-align: center;
}

.categoria-dropdown {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

.scrooll {
  max-height: 400px; /* Altura máxima para la tabla */
  min-height: 300px; /* Altura mínima para el contenedor */

  border: 1px solid #ddd;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

.table th {
  background-color: #a294f9; /* Fondo del encabezado */
  color: white; /* Color del texto */
  text-align: center;
 
  top: 0; /* Mantén el encabezado en la parte superior */
  z-index: 2; /* Encabezado sobre el contenido */
}

.table tbody {
  max-height: 400px; /* Altura máxima del contenido de la tabla */
  overflow-y: auto; /* Desplazamiento vertical */
  display: block; /* Asegura que solo el cuerpo haga scroll */
}

.table thead,
.table tbody tr {
  display: table; /* Necesario para mantener el ancho de las columnas */
  width: 100%; /* Ancho fijo para evitar desbordes */
  table-layout: fixed; /* Controla el tamaño de las columnas */
}
