.tipo-cambio-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .tipo-cambio {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    width: 45%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tipo-cambio h3 {
    color: #333;
    margin-bottom: 1rem;
  }
  
  .tipo-cambio p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
  }
  